*{
    font-family: 'Times New Roman', Times, serif;
}

.NavBar{
    display: flex;
    height: 10vh;
    flex-direction: column;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.element2{
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    align-items: center;
    border-radius: 2vh;
}
.elementToggle{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.elementToggle > div {
    flex-direction: row;
    height: 100vh;
    width: 100%;
    text-decoration: none;
    color: black;
    margin: 1vh 0; 
    text-align: left;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    align-items: center; 
    padding: 0 1rem;
    border-radius: 2vh; 
}

.elementsToggleOpen{
   
    left: auto;
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 10%; 
    text-decoration: none;
    color: black;
    margin: 1vh 0; 
    text-align: left;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    align-items: center;
    padding: 0 1rem; 
    border-radius: 2vh; 
    
}

.elementsToggleOpen:hover{
    background-color: grey;
    border-radius: 2vh;
}

.MenuBurger{
    background-color: white;
    border: none;
}